<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../static/images/wxcoycc.png">

    <meta property='og:title' content="wxcoy.cc | khey's image host">
    <meta property='og:image' content="https://wxcoy.cc/fail/7fc21368-0e80-43e4-9e45-a975c4ee5f1e">
    <meta property='og:description' content="Custom made and open-source ShareX host">

    <title>Tere, {{ kasutaja.nimi }}!</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/baas.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/uleslaadimiste_info.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigatsioon.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/markeruut.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/sorteeri_kaart.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/failikaart.css">

    <script src="../static/scripts/modules/loo_teade.js"></script>
    <script src="../static/scripts/modules/loo_kaart.js"></script>

    <script src="../static/scripts/kustuta_fail.js" defer></script>
    <script src="../static/scripts/kopeeri_faili_link.js" defer></script>
    <script src="../static/scripts/kustuta_veateade.js" defer></script>
    <script src="../static/scripts/kustuta_heateade.js" defer></script>
    <script src="../static/scripts/otsi_faile.js" defer></script>
</head>
<body>
    <section id="uleslaadimiste_info">
        <ul>
            <li>
                <div class="info__sedel">
                    <h3>Kasutajaid</h3>
                    <h4>{{ andmebaas_info.kasutajaid }}</h4>
                </div>
            </li>

            <li>
                <div class="info__sedel">
                    <h3>Üleslaadimisi</h3>
                    <h4>{{ andmebaas_info.uleslaadimisi }}</h4>
                </div>
            </li>

            <li>
                <div class="info__sedel">
                    <h3>Kogumaht</h3>
                    <h4>{{ andmebaas_info.maht }}mb</h4>
                </div>
            </li>
        </ul>
    </section>

    <section id="navigatsioon">
        <ul>
            <li>
                <a href="/profiil">👤 Profiil</a>
            </li>

            <li>
                <a href="/logout">🚪 Logi välja</a>
            </li>
        </ul>
    </section>

    <div id="leht">
        {% if kupsised[ 'veateade' ] %}
            <div class="veateade">
                <p>{{ kupsised['veateade'] }}</p>
                <button id="kustuta_veateade" onclick="kustuta_veateade( this )">
                    X
                </button>
            </div>
        {% endif %}

        {% if kupsised[ 'heateade' ] %}
            <div class="veateade hea">
                <p>{{ kupsised['heateade'] }}</p>
                <button id="kustuta_heateade" onclick="kustuta_heateade( this )">
                    X
                </button>
            </div>
        {% endif %}

        <div id="kaardid">
            <div class="kaart__sorteeri">
                <form id="otsija" action="/" method="get"> <!-- ei saada kuskile, overridime saatmist ../static/scripts/otsi_faile.js -->
                    <div class="valjad">
                        <input type="text" name="faili_osaline_nimi" id="faili_osaline_nimi" placeholder="Failinimi">
                        <input type="text" name="sildid" id="sildid" placeholder="Sildid">
                    </div>
                    <div class="tuup">
                        <p>Tüüp</p>
                        <div class="tuubid">
                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_pilt">
                                <div class="visuaalne">
                                    <p>Pilt</p>
                                 </div>
                            </div>

                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_video">
                                <div class="visuaalne">
                                    <p>Video</p>
                                 </div>
                            </div>

                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_gif">
                                <div class="visuaalne">
                                    <p>GIF</p>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="nupud">
                        <button id="otsi_saada" type="submit" style="--aaris_kaart: black; --taust_kaart: var( --taust_kaart ); --tekst_kaart: var( --tekst );">Otsi</button>
                        <button id="otsi_tuhjenda" type="reset" style="--aaris_kaart: var( --viga ); --taust_kaart: var( --viga ); --tekst_kaart: var( --tekst ) ">Tühjenda</button>
                    </div>
                </form>
            </div>

            {% if meediafailid %}
            {% for fail in meediafailid %}
                <div class="kaart">
                    <div class="fail__esipilt">
                        <a href="/fail/{{ fail.unikaalne_nimi }}" class="{% if fail.tuup == 'mp4' %}video_link{% endif %}{% if fail.tuup == 'gif' %}gif_link{% endif %}">
                            {% if fail.tuup == 'mp4' %}
                                <video preload="auto">
                                    <source src="/fail/{{ fail.unikaalne_nimi }}" type="video/{{ fail.tuup }}">
                                    Teie brauser ei toeta videosilti.
                                </video>
                            {% else %}
                                <img loading="lazy" src="/fail/{{ fail.unikaalne_nimi }}" alt="{{ fail.nimi }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="fail__info">
                        <div class="fail__tiitel">
                            <div class="fail__nimi">
                                <p>{{ fail.nimi }}</p>
                            </div>
                            <div class="fail__ilus">

                            </div>
                        </div>
                        <div class="fail__juhend">
                            <div class="fail__andmed">
                                <p>{{ fail.suurus( kupsised[ 'api_voti' ]  ) }}kb</p>
                                <p>{{ fail.tuup.upper( ) }}</p>
                            </div>
                            <div class="fail__nupud">
                                <div class="fail__kopeerilink">
                                    <button onclick="sea_kopeerimine( this )">🔗</button>
                                </div>
                                <div class="fail__kustuta">
                                    <button onclick="kustuta_fail( this, '{{ fail.unikaalne_nimi }}' )">🗑️</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>