<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Koduleht - {{ kasutaja.nimi }}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/baas.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/koduleht.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/kontrollpaneel.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/markeruut.css">

    <script src="../static/scripts/modules/loo_teade.js"></script>
    <script src="../static/scripts/modules/loo_kaart.js"></script>

    <script src="../static/scripts/kustuta_fail.js" defer></script>
    <script src="../static/scripts/kopeeri_faili_link.js" defer></script>
    <script src="../static/scripts/kustuta_veateade.js" defer></script>
    <script src="../static/scripts/kustuta_heateade.js" defer></script>
    <script src="../static/scripts/kustuta_kasutaja.js" defer></script>
    <script src="../static/scripts/otsi_faile.js" defer></script>
</head>
<body>
    <div id="kontrollpaneel">
        {% if kupsised %}
            {{ kupsised }}
        {% endif %}

        <a role="button" href="/sharexi_konfiguratsioon" download="config.sxcu"><button>lae alla sharexi cfg</button></a>
        <a role="button" href="/logout"><button>logi valja</button></a>
        <button id="kustuta_kasutaja">Kustuta kasutaja</button>
    </div>
    <div id="leht">
        {% if kupsised[ 'veateade' ] %}
            <div class="veateade">
                <p>{{ kupsised['veateade'] }}</p>
                <button id="kustuta_veateade">
                    X
                </button>
            </div>
        {% endif %}

        {% if kupsised[ 'heateade' ] %}
            <div class="veateade hea">
                <p>{{ kupsised['heateade'] }}</p>
                <button id="kustuta_heateade">
                    X
                </button>
            </div>
        {% endif %}

        <div id="kaardid">
            <div class="kaart">
                <form id="otsija" action="/" method="get"> <!-- ei saada kuskile, overridime saatmist ../static/scripts/otsi_faile.js -->
                    <div class="valjad">
                        <input type="text" name="faili_osaline_nimi" id="faili_osaline_nimi" placeholder="Failinimi">
                        <input type="text" name="sildid" id="sildid" placeholder="Sildid">
                    </div>
                    <div class="tuup">
                        <p>Tüüp</p>
                        <div class="tuubid">
                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_pilt">
                                <div class="visuaalne">
                                    <p>Pilt</p>
                                 </div>
                            </div>

                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_video">
                                <div class="visuaalne">
                                    <p>Video</p>
                                 </div>
                            </div>

                            <div class="markeruut">
                                <input type="checkbox" name="markeruut" id="otsi_gif">
                                <div class="visuaalne">
                                    <p>GIF</p>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="nupud">
                        <button id="otsi_saada" type="submit" style="--aaris_kaart: black; --taust_kaart: var( --taust-peamine ); --tekst_kaart: var( --tekst );">Otsi</button>
                        <button type="reset" style="--aaris_kaart: var( --viga ); --taust_kaart: var( --viga ); --tekst_kaart: var( --taust-tavaline ) ">Tühjenda</button>
                    </div>
                </form>
            </div>

            {% if meediafailid %}
            {% for fail in meediafailid %}
                <div class="kaart failikaart">
                    <a class="faili_link {% if fail.tuup == 'mp4' %}video_link{% endif %}{% if fail.tuup == 'gif' %}gif_link{% endif %}" href="/fail/{{ fail.unikaalne_nimi }}">
                        {% if fail.tuup == 'mp4' %}
                            <video preload="auto">
                                <source src="/fail/{{ fail.unikaalne_nimi }}" type="video/{{ fail.tuup }}">
                                Teie brauser ei toeta videosilti.
                            </video>
                        {% else %}
                            <img loading="lazy" class="esituspilt" src="/fail/{{ fail.unikaalne_nimi }}" alt="{{ fail.nimi }}">
                        {% endif %}
                    </a>
                    <p class="nimi">{{ fail.nimi }}.{{ fail.tuup }}</p>
                    <div class="sildid-ja-nupud">
                        <div class="sildid">

                        </div>
                        <div class="nupud">
                            <button class="kustuta_fail" style="--aaris_kaart: var( --viga ); --taust_kaart: var( --viga ); --tekst_kaart: var( --taust-tavaline )">
                                <img src="./../static/assets/trash.svg" alt="Kustuta">
                            </button>

                            <button class="kopeeri_link" style="--aaris_kaart: black; --taust_kaart: var( --taust-peamine ); --tekst_kaart: var( --tekst );">
                                <img src="./../static/assets/link.svg" alt="Kopeeri link">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>