<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ kasutaja.nimi }} profiil</title>

    <link rel="stylesheet" href="../static/styles/baas.css" type="text/css">
    <link rel="stylesheet" href="../static/styles/profiil.css" type="text/css">
    <link rel="stylesheet" href="../static/styles/navigatsioon.css" type="text/css">

    <script src="../static/scripts/kustuta_kasutaja.js" defer></script>
    <script src="../static/scripts/kustuta_veateade.js" defer></script>
    <script src="../static/scripts/kustuta_heateade.js" defer></script>
</head>
<body>
    <div class="profiil">
        {% if kupsised[ 'veateade' ] %}
            <div class="veateade">
                <p>{{ kupsised['veateade'] }}</p>
                <button id="kustuta_veateade" onclick="kustuta_veateade( this )">
                    X
                </button>
            </div>
        {% endif %}

        {% if kupsised[ 'heateade' ] %}
            <div class="veateade hea">
                <p>{{ kupsised['heateade'] }}</p>
                <button id="kustuta_heateade" onclick="kustuta_heateade( this )">
                    X
                </button>
            </div>
        {% endif %}

        <section id="profiil">
            <div class="aken">
                <div class="sharex">
                    <a role="button" href="/" id="kodu-nupp">
                        <button>🏠 Kodu</button>
                    </a>
                </div>

                <div class="sharex" style="margin-top: 10px">
                    <a role="button" href="/sharexi_konfiguratsioon" download="sharex_konfiguratsioon.sxcu">
                        <button>📥 Sharex'i konfiguratsioon</button>
                    </a>
                </div>
            </div>

            <div class="aken">
                <form id="vaheta_parool" action="/api/vaheta_parool" method="post">
                    <div class="profiil__nimi">
                        {{ kasutaja.nimi }}
                    </div>
                    <div class="profiil__parool">
                        <input name="uus_parool" type="password" minlength="8" placeholder="uus parool" required>
                    </div>
                    <div class="profiil__salvesta">
                        <button type="submit">💾 Salvesta</button>
                    </div>
                </form>
            </div>

            <div class="aken">
                <div class="kustuta_kasutaja">
                    <button id="kustuta_kasutaja">Kustuta kasutaja</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>