{% extends 'sisestamine_baas.html' %}

{% block lehenimi %}
Registreeri
{% endblock %}

{% block stiilid %}
<link rel="stylesheet" type="text/css" href="../static/styles/sisestamine.css">
{% endblock %}


{% block sisestamine %}
<form action="/registreeri" method="post">
    <div class="valjad">
        <input type="text" name="kasutajanimi" id="kasutajanimi" placeholder="Kasutajanimi">
        <input type="password" name="parool" id="parool">
        <input type="text" name="kutse" id="kutse" placeholder="Kutse">
    </div>

    <div class="tingimused">
        <ul>
            <li>Vähemalt 8 sümboli pikkune</li>
            <li>Vähemalt 1 suur täht</li>
            <li>Vähemalt 1 väike täht</li>
            <li>Vähemalt 1 sümbol</li>
        </ul>
    </div>

    <button type="submit">registreeri</button>
</form>
{% endblock %}

{% block lisad %}
<div class="lisanupp">
    <a href="sisselogimine"><button>logi sisse-></button></a>
</div>
{% endblock %}
