<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block lehenimi %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/baas.css">
    {% block stiilid %}{% endblock %}
</head>
<body>
  <div id="leht">
      {% if kupsised['veateade'] %}
          <div class="veateade">
              <p>{{ kupsised['veateade'] }}</p>
          </div>
      {% endif %}

      {% if kupsised['heateade'] %}
          <div class="veateade hea">
              <p>{{ kupsised['heateade'] }}</p>
          </div>
      {% endif %}

        <div class="sharex-tutorial">
            <h1>Juhend kuidas kasutada antud lehte</h1>
            <ul>
                <li>Lae alla <a href="https://getsharex.com/">ShareX</a></li>
                <li>Loo kasutaja ja navigeeri lehele 'Profiil'</li>
                <li>Lae alla ShareX-i konfiguratsioon (suur sinine nupp)</li>
                <li>???</li>
                <li>Kasum! Saad meediafaile üles laadida ShareX-i kaudu ning failid lõpetavad automaatselt sinu kodulehel</li>
            </ul>
        </div>

      {% block sisestamine %} {% endblock %}

      {% block lisad %}{% endblock %}
    </div>
</body>
</html>