<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registreeri</title>
</head>
<body>
    {% if kupsised['veateade'] %}
        <p>{{ kupsised['veateade'] }}</p>
    {% endif %}
    <form action="/sisselogimine" method="post">
        <input type="text" name="kasutajanimi" id="kasutajanimi" placeholder="Kasutajanimi">
        <input type="password" name="parool" id="parool">
        <button type="submit">logi sisse</button>
    </form>
    <a href="registreeri"><button>registreeri-></button> </a>
</body>
</html>