* {
    --peamine: #5555ff;
    --peamine-hele: #6666ff;
    --viga: red;
    --hea: green;

    --taust-peamine: #5555ff40;
    --taust-peamine-hele: #7777ff60;
    --taust-viga: #ff000040;
    --taust-hea: #00ff0040;
    --taust-tavaline: #3d3d3d;

    --umardus: 20px;
    --hagusus: 20px;

    --tekst: #dddddd;
}

body {
    margin: 0;
    padding: 0;
    background: var( --taust-tavaline );
}

.veateade {
    position: static;
    border: var( --viga ) solid 2px;
    border-radius: var( --umardus );

    background: var( --taust-viga );

    text-align: center;
    backdrop-filter: blur( var( --hagusus ) );

    width: fit-content;

    padding: 0 10px;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.veateade p {
    color: var( --tekst );
}

.veateade button {
    margin: auto 0;
    border-radius: var( --umardus );
    border: 2px var( --peamine ) solid;

    padding: 3px 6px;

    height: min-content;

    background: var( --taust-peamine );

    filter: saturate( 0.3 );
    transition-duration: 200ms;

    color: var( --tekst );
}

.veateade button:hover {
    filter: saturate( 1 );
}

.veateade.hea {
    color: var( --hea );
    border-color: var( --hea );
    background: var( --taust-hea );
}