.markeruut {
    position: relative;
    width: fit-content;
}

.markeruut > * {
    top: 0;
    left: 0;
}

.markeruut .visuaalne p {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}

.markeruut input {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.markeruut input:hover {
    cursor: pointer;
}

.visuaalne {
    filter: saturate( 0 );

    border-radius: var( --umardus );
    border: var( --nupp__taust__aktiivne ) solid 2px;
    background: var( --fail__link );

    padding: 5px 10px;

    transition-duration: 200ms;
}

.markeruut input:checked ~ .visuaalne {
    filter: saturate( 1 );
}

.visuaalne p {
    margin: 0;
    padding: 0;

    color: #dddddd;
    font-size: 1.2rem;
    margin: 10px 0;
}