#uleslaadimiste_info {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 2rem;

    border-radius: var( --umardus );

    background: var( --fail__taust );

    max-width: 550px;
    margin: 0 auto;
}

#uleslaadimiste_info ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    align-items: center;

    list-style: none;

    gap: 1rem;

    font-size: 1rem;
}

#uleslaadimiste_info li {
    text-align: center;
    flex: 0 0 30%;
    color: var( --fail__link )
}

#uleslaadimiste_info h4 {
    color: var( --tekst );
}